html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.container {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 1fr 4fr;
}

.sidebar {
  border: 1px solid black;
  padding: 5px;
  background-color: salmon;
  grid-column: 1 / 2;
  grid-row: 1 / 3;
}

.header {
  border: 1px solid black;
  padding: 5px;
  background-color: beige;
  grid-column: 2 / 3;
  grid-row: 1 / 2;
}

.main-content {
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.trending-section {
  grid-column: 2 / 3;
}

.project-display {
  grid-row: 1 / 3;
  padding: 5px;
}

.project {
  margin: 5px 0px;
  border: 1px solid black;
  padding: 5px;
}

.projects-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-gap: 10px;
}

.announcements-section {
  padding-top: 5px;
}

.announcements-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  border: 1px solid black;
  margin: 5px 0px;
  padding: 5px;
}

.announcements-description {
  margin-bottom: 5px;
}

.trending-section {
  padding: 5px;
  border: 1px solid black;
}
